body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.browse-Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0% auto;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 1rem;
  font-family: "Roboto", sans-serif;
}

.card__name {
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(9, 21, 133);
}

.card__holofoil .card__reverseHolo {
  font-family: "Roboto", sans-serif;
}

.landing-Hero {
  color: white;
  padding-top: 4rem;
  height: 25vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  display: flex;
  justify-content: center;
}

.landing-Hero-Image {
  height: 10vh;
}

.landing-Hero h1 {
  padding-top: 1rem;
  font-weight: bold;
}

.landing-Bottom {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 7rem;
  background: rgb(31, 28, 26);
}

.landing-Bottom-Header {
  padding-top: 3rem;
  color: white;
}

.landing-Bottom-Text {
  width: 40vw;
}

.buttons__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* Browse Button */
.landing-Bottom-Button {
  margin-top: 1rem;
  min-width: 10rem;
  min-height: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #d16d4f;
  background: linear-gradient(
    90deg,
    rgb(221, 64, 17) 0%,
    rgb(235, 207, 196) 100%
  );
  border: none;

  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

/* RINGS AROUND BUTTON */

.landing-Bottom-Button::before {
  content: "";
  min-width: calc(10rem + 12px);
  min-height: calc(2rem + 12px);
  border: 0.5rem solid #413d85;
  box-shadow: 0 0 20px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.landing-Bottom-Button:hover::before,
.landing-Bottom-Button:focus::before {
  opacity: 0.5;
}

.landing-Bottom-Button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #0026ff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FINDER PAGE BUTTON */

/* Button itself */
.fin__button {
  margin-left: 3rem;
  margin-top: 1rem;
  min-width: 10rem;
  min-height: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #d16d4f;
  background: linear-gradient(
    90deg,
    rgb(221, 64, 17) 0%,
    rgb(235, 207, 196) 100%
  );
  border: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

/* RINGS AROUND BUTTON */

.fin__button::before {
  content: "";
  min-width: calc(7rem + 12px);
  min-height: calc(2rem + 12px);
  border: 0.5rem solid #413d85;
  box-shadow: 0 0 20px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.fin__button:hover::before,
button:focus::before {
  opacity: 0.5;
}

.fin__button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #0026ff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fin__button:hover::after,
.fin__button:focus::after {
  animation: none;
  display: none;
}

.image-Container {
}

.landing-Bottom-Image {
  height: 50%;
  width: 100%;
}
